<!DOCTYPE html>
<html lang="en">

<head>
	<link href="img/favicon.png" rel="icon">
</head>

<body>
  <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 p404 centered">
        <img src="500.png" alt="">
        <h1>ERROR 500</h1>
        <h3>Ouch!! Something Went Wrong!</h3>
        <br>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            Go back to home?
            <button class="btn btn-theme mt">OK</button>
          </div>
        </div>
        <h5 class="mt">Hey, maybe you will be interested in these pages:</h5>
        <p><a href="index.html">Home</a> | <a href="#">Locker Reservation</a> | <a href="contact.html"> About USG</a></p>
      </div>
    </div>
  </div>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
