
{% load staticfiles %}
{% include 'salikneta/includes/head.html' %}
<body>
  <section id="container">

{% include request.session.header %}
 <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->


<section id="main-content">
      <section class="wrapper">
        <div class="row mt">
          <div class="col-lg-12">
              <div class="pull-right" style="margin-top: 6vh;margin-right: 5vw"><button class="btn btn-default" onclick="printDiv('print_div')"> <i class="fa fa-print"></i> Print</button></div>

            <div class="form-panel" id="print_div" style="padding: 50px">
                <div class="row">
                    <h4 class="mb"><i class="fa fa-angle-right"></i> Forecasting</h4>
                </div>
                Select Method
                 <select  class="form-control" name="method" id="method">
                      <option value="ar">Autoregression </option>
                      <option value="ma">Moving Average</option>
                </select>
                <br>
            <style>
              .bdr{
                  border: 1px;

              }
              .cell_bdr{
                  border: 1px solid black;
              }
              .txt_al_center{
                  text-align: center;
              }
              .txt_al_right{
                  text-align: right;
              }
          </style>
                <table id="sup_tbl" class="table table-bordered table-striped table-condensed" style="width: 100%">
                  <thead>
                    <tr>
                      <th>Product</th>
                      <th>Description</th>
                      <th>UOM</th>
                      <th>Marketing Branch</th>
                      <th>Taft Branch</th>
                      <th>Malabon Branch</th>
                      <th>Total</th>
                      <th>Detail</th>
                    </tr>
                  </thead>
                  <tbody id ="sales_tbl">
                    {% for r in forecast %}
                      <tr>
                        <td class="cell_bdr">{{ r.product }}</td>
                        <td class="cell_bdr">{{ r.description }}</td>
                        <td class="cell_bdr">{{ r.uom }}</td>
                        <td class="cell_bdr txt_al_right">{{ r.marketing_branch }}</td>
                        <td class="cell_bdr txt_al_right">{{ r.taft_branch }}</td>
                        <td class="cell_bdr txt_al_right">{{ r.malabon_branch }}</td>
                        <td class="cell_bdr txt_al_right">{{ r.total }}</td>
                        <td><center><button class="btn btn-round btn-primary" data-toggle="modal" data-target="#modal_ingredients" item_id="{{ r.id }}" onclick="forecasting_details(this)">View</button></center></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
          </div>
        </div>
      </section>
</section>
</section>
</body>
<script>
    function printDiv(div) {
        var printStr = "<script>"+"window.print();</"+"script>";
        var printCont = document.getElementById(div);
        var html = '<html><head>'+
               '<title>Sales Report {{ gen_info.message }}</title>'+
               '</head><body style="background:#ffffff;">'+
               printCont.innerHTML+
               '</body></html>'+printStr;
        var WindowObject =window.open('',"Print Window",
            "width=1000,height=1000,top=200, left=200, toolbars=no, scrollbars=no,resizable=no");
        WindowObject.document.writeln(html);
        WindowObject.document.close();
        WindowObject.focus();
        WindowObject.print();
        WindowObject.close();

    }
    function show_modal_invoice(id,obj){
        $("#receipt_tbl").empty();
        $("#modal-in-date").html("INVOICE DATE: "+$(obj).attr("i_date"));
        $("#modal-in-num").html("INVOICE NO: "+$(obj).attr("i_num"));
        $("#r_net_total").html($(obj).attr("i_total"));
           let invoice_data =  $.get("/salikneta/ajax/get_invoicelines_by_salesid/"+id+"/");
           invoice_data.done(function(results){
                obj = results.data;
                for (i in obj){
                  str = '<tr id="r_item_'+'">';
                  str +='<td class="text-center"  style="border: 1px solid black;text-align: center" id="r_qty_'+'">'+obj[i].qty+'</td>';
                  str +='<td class="text-center"  style="border: 1px solid black;text-align: center">'+obj[i].uom+'</td>';
                  str +='<td style="border: 1px solid black;text-align: center">'+obj[i].productName+'</td>';
                  str +='<td class="text-right"  style="border: 1px solid black;text-align: right">P'+obj[i].unitPrice+'</td>';
                  str +='<td class="text-right" style="border: 1px solid black;text-align: right"><b id="r_disc_'+'">'+obj[i].disc+'</b>%</td>';
                  str += '<td class="text-right" style="border: 1px solid black;text-align: right">P<b id="r_amt_'+'">'+obj[i].net_price+'</b></td>';
                  str +='</tr>';
                  $("#receipt_tbl").append(str);
                }
           });

    }

    function forecasting_details(obj){
        var id = $(obj).attr("item_id");
        window.location.href = "/salikneta/forecasting/product="  + id + "method=ar";
    }

    $( "#method" ).change(function() {
        window.location.href = "/salikneta/forecasting/method=" + $(this).val();
    });

    $(document).ready(function(){
       $("#method").val('{{ method }}');
    });
</script>
            <!--custom chart end-->